/*
    Estilo del boton general de la app
    Button customization (armed = pressed)
*/
.root{
    -fx-background-color: transparent;
}

.button{
    -fx-background-color: #00ae4a;
    -fx-effect: dropshadow( gaussian, #436063, 0.0 , 0.0 , 3.0 , 3.0);
    -fx-background-radius: 25px 0px;

}

.button:hover{
    -fx-background-color: #009f42;
}

.button:armed {
    -fx-effect: none;
}

.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#titleLabel{
    -fx-text-fill: #e9dc86;
}

#post_body_textA{
    -fx-text-fill: #ffffff;
}

#titleLabel .text{
    -fx-underline: true ;
}
